//:::: Gallery Styles :::://

.home-content {
  width: 95%;
  margin: 0 auto;

  h2 {
    font-size: 3vw;
  }
  .gallery {
    background-color: #9b9b9b;
    margin-top: 5%;
    height: 9vw;
    line-height: 3vw;
    border-radius: 8px;
    padding: 5px 0 5px 10px;
    font-size: 1.75vw;

    .tag {
      font-weight: bold;

      .gallery-info {
        font-weight: normal;
      }
    }
  }
}
