@import 'reset';
@import 'vars';
// :::: Base Styles :::: //

html body {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  background-color: $sitePrimary;
}

main{
  width: 90%;
  margin: 0 5%;
}

header {
  height: 5%;
}

footer {
  background-color: #9b9b9b;
  width: 100%;
  height: 7vw;
  margin-top: 200px
}
