<section class="login-content">
  <form class="login-form" name="loginForm"
  ng-submit="loginCtrl.login()" novalidate>

  <div
  ng-class="{
    'error': loginForm.username.$invalid,
    'success': loginForm.username.$valid
    }">

    <input type="text"
    name="username"
    placeholder="username"
    ng-minlength="4"
    ng-model="loginCtrl.user.username" required>
  </div>

  <div ng-class="{
    'error': loginCtrl.password.$invalid && loginForm.$submitted,
    'success': loginCtrl.password.$valid
    }">

    <input type="password" name="password"
    ng-disabled="loginCtrl.username.$invalid"
    placeholder="password"
    ng-minlength="3"
    ng-model="loginCtrl.user.password" required>
  </div>

  <button type="submit" class="button-std">Sign in</button>

  </form>

</section>
