//:::: Landing Styles :::://

.landing {


  .float-right {
    margin-top: 2%;
    float: right;
    font-size: 1.75vw;

    p {
      display: inline;
    }

    a {
      cursor: pointer;
      font-weight: bold;
    }
  }
}

.clearfix {
  width: 100%;
  height: 0%;
  clear: both;
}
