<section class="landing">

  <div class="join-container"
    ng-if="landingCtrl.showSignup">

    <div class="join-inner">
      <signup></signup>

      <div class="float-right">
        <p>already a member?</p>
        <a class= href="/#/join#login"
        ng-click="landingCtrl.showSignup=false">
        sign in here.
        </a>
      </div class="float-right">
    </div>

  </div>

  <div class="join-container"
  ng-if="!landingCtrl.showSignup">

    <div class="join-inner">
      <login></login>

        <div class="float-right">
          <p>want to sign up?</p>
          <a href="/#/join#signup"
          ng-click="landingCtrl.showSignup=true">
          sign up here
          </a>
        </div>
    </div>

  </div>
  <div class="clearfix"></div>

  <landing-modal></landing-modal>

</section>
